# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak
venv.bak

# Rhasspy
rhasspy_profile/downloads/
rhasspy_profile/*.wav
rhasspy_profile/*.ogg
rhasspy_profile/*.bin
rhasspy_profile/*.onnx
